PROJECT_ENDPOINT="https://myfoundry-resource.services.ai.azure.com/api/projects/myproject"
MODEL_DEPLOYMENT_NAME="gpt-4.1"
SERVER_URL="localhost"
ROUTING_AGENT_PORT=10009
OUTLINE_AGENT_PORT=10008
TITLE_AGENT_PORT=10007
